/* Google Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Global Styles */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins';
}

html {
    width:100%;
    height:100%;
}
body {
    background-color: whitesmoke;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

/* Navbar Styles */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F9F9F9;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.nav-container h1 {
    margin-left:2rem;
    margin-right:auto;
    font-weight: 500;
   
}

.nav-container {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height:auto;
    margin-left:auto;
    background-color: #F9F9F9;
    box-shadow: 0 1px 5px rgba(220, 225, 235 , 0.2), 0 6px 30px rgba(220, 225, 235 , 0.2);
}

.nav-container h1 {
    font-family: 'Permanent Marker';
    color:#313236;
    letter-spacing: .2rem;
}

.nav-item {
    list-style-type: none;
    background-color: #F9F9F9;
}

.nav-link {
    color:#313236;
    text-decoration: none;
    display: block;
    padding:2rem;
    cursor: pointer;
    font-weight:300;
}

.nav-link:hover {
    color:#313236;
}

.nav-item:hover {
    filter: brightness(108%);
}
.mobile-nav-item {
    list-style: none;
}

.mobile-nav-item img {
    padding: 1.4rem 0;
    margin-right:2rem;
    max-width: 35px;
}

@media screen and (max-width:740px) {
    .nav-item {
        display: none;
    }
    .nav-container h1 {
        padding:1.4rem 0;
    }
}

@media screen and (min-width:740px) {
    .mobile-nav-item {
        display: none;
    }
}


/* Header Section Styles */

#particles-js {
    position: absolute;
     width: 100%;
     height: 50rem;
     z-index: 2;
} 

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:87px;
    width: 100%;
    height:50rem;
    background-color: #F9F9F9;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width:auto;
    z-index: 3;
    margin: 10rem 0;
}

.header-info {
    margin-right:2rem;
}
.header-info h1 {
    letter-spacing: .1rem;
    padding:1rem 0;
    font-family: 'Permanent Marker';
    color: #313236;
}

.header-info p {
    padding:1rem 0;
    color:#313236;
}

.header-img img {
    width:100%;
    max-width: 160px;
    border-radius: 12px;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    position: relative;
    transition: all 800ms ease-in-out;
}


@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.title-img-container {
    display: flex;
    align-items: center;
    color:#333;
}

.github-img-container {
    margin-left:1rem;
    height:25px;
}

.github-img {
    margin:0;
    padding: 0;
    max-width: 25px;
    max-height:25px;
}


.tech-stack-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.tech-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    border-radius:50%;
    box-shadow: 0 1px 5px rgba(220, 225, 235 , 0.6), 0 6px 30px rgba(220, 225, 235 , 0.6);
    background-color: #F9F9F9;
    opacity: 1;
}

.tech-icons {
    max-width: 40px;
}

@media screen and (max-width:740px) {
   
    .header-content {
        flex-direction:column-reverse;
    }

    .header-info {
        margin-right: 0;
    }
    .title-img-container {
        justify-content: center;
    }
    #particles-js {
        position: absolute;
        width: 100%;
        height: 50rem;
        z-index: 2;
    } 
}

@media screen and (max-width:450px) {
   
    .header-content {
        padding: 0 2rem; 
    }
    .header-content h1 {
        font-size: 1rem;
    }
    



}

/* Project Section */
.portfolio {
    width:100%;
    height: 100%;
    padding: 15rem;
  
}

.portfolio-container {
    margin: 0 auto;
    width: 90rem;
    max-width: 90rem;
    padding: 0 4rem;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    
}
.portfolio-title {
    color:#167EFB;
}

.portfolio-item {
    display: flex;
    height:30rem;
    width:auto;
    margin:5rem;
    border-radius:12px;
}


/* Footer Styles */


#footer
{
    background-color: #313236;
    color: white;
    height: 60px;
}

#footer a {
    text-decoration: none;
    color:white;
}

#footer a:hover {
    filter: brightness(50%);
}

.footer-copyright
{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 12px;
    width: 150px;
}

.footer-links
{
    color:white;
    display: inline;
    padding: 0 .5rem;
    
}
.footer-links a:hover{
    color: white;
}



.footer-links-container
{
   float: right;
   margin-right: 2rem;
 

    
}

.up-arrow
{
    padding-left: 3rem;
}

/* Contact Form */

/* Popup Contact Styles */

.contact-section
{
    width: 100%;
    height: 100%;
    opacity: .99;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background-color: rgba(224, 204, 179, 0.7);
    overflow: auto;
    z-index: 5;
}

.contact-section hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E0CCB3;
    margin: 0;
    padding: 0;
}

#close
{
    position: absolute;
    top: 1%;
    right: 4%;
    cursor: pointer;
    color: #E0CCB3;
    font-size: 2rem;
}

#popupContact
{
    position: relative;
    width: 50%;
    margin: 0 auto;
    top: 50%;
transform: translateY(-50%);
    font-family: inherit;
}
form
{
    max-width: 50%;
    min-width: 100%;
    padding: 2rem 2rem;
    border: 2px solid #E0CCB3;
    border-radius: 10px;
    font-family: inherit;
    background-color: #fff;

}
input[type=text] {
    width:100%;
    padding:10px;
    margin-top:30px;
    border:1px solid #E0CCB3;
    padding-left:40px;
    font-size:16px;
    font-family:inherit;
    outline: none;
}

textarea {
   
    width:100%;
    height:100px;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #E0CCB3;
    padding-left:40px;
    font-size:16px;
    font-family:inherit;
    margin-bottom:30px;
    outline:none;
    }
    

#submit {
        text-decoration:none;
        width:100%;
        text-align:center;
        display:block;
        background-color:black;
        color:#fff;
        border:1px solid black;
        padding:10px 0;
        font-size:20px;
        cursor:pointer;
        border-radius:5px
 }

 .contact-header
 {
     text-align: center;
     font-family: 'Poppins', 'Open Sans';
     color: #333;
 }

.contact-description
{
    color: #E0CCB3;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
}


